
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
body {
    background-color: #aaaaaa;
    font-family: 'Roboto', sans-serif
}
header{
    background-color: #c5c5c5;
    margin: 1vh 25vw;
    padding: 1vh 1.5vw;
    text-align: center;
    border-radius: 3%;
}

article{
    background-color: #c5c5c5;
    margin: 1vh 25vw;
    padding: 1vh 1.5vw;
    border-radius: 3%;
    line-height: 4rem;
}
img{
    height: 40vh;
    width: 20vw;
    border-radius: 100%;
}
ul{
    list-style-position: inside;
    line-height: 3rem;
}
ol{
    list-style-position: inside;
    line-height: 3rem;
}
